

.homepage__header{
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.2rem;
    padding: .2rem .8rem;;
}

#extravaganza-logo {
    width: 80px;
    height: 80px;
}

#shopping-cart {
    width: 30px;
    height: 30px;
}

.homepage__main {
    height: auto;
    width: 100%;
}

.homepage__first {
    text-align: center;
}

.homepage__first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
}

.homepage__first-section-scroll-container {
    display: inline-block;
}

.homepage__first-section-image {
    width: 60vw;
    padding: 10px;
}

.homepage__first-section-text {
    padding: 5rem;
}

.homepage__news {
    height: 35rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.8rem;
    background-color: rgb(15, 15, 15);
    color: white;
}

.homepage__news-section {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    //padding-bottom: rem;
}

.homepage__news-section-card {
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage__news-section-option {
    height: 20rem;
    width: 15rem;
    overflow: hidden;
    border-radius: .5rem;
}

.homepage__news-section-image {
    width: 100%;
    height: auto;
}

#news-image-2 {
    position: relative;
    bottom: 60px;
}

.homepage__news-section-title {
    position: relative;
    bottom: 180px;
    font-size: 2rem;
}

.homepage__footer {
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}