.splash__main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.splash__logo {
    max-width: 40rem;
    height: auto;
}

.splash__heading {
    font-size: 60px;
    position: absolute;
    top: 45%;
    color: black;
    background-color: rgba(213, 108, 229, 0.4) ;
    border-radius: 3rem;
    padding: 0 1rem;
}