@import url('https://fonts.googleapis.com/css2?family=Langar&family=Sansita:wght@400;700&display=swap');

:root {
  min-height: 100vh;
  overflow-x: hidden;
  background:
              radial-gradient(ellipse at left, #ad57aa, transparent),
              radial-gradient(ellipse at right, #6dcde5, transparent);
  font-family: Sansita, sans-serif;
}

